* {
    margin: 0;
    padding: 0;
}

html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(231 229 228);
    color: #343a40;
    font-size: 16px;
}

.sidebar {
    background-color: #ffffff;
    color: #343a40;
    left: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    height: auto;
    width: 235px;

}

.sidebar a {
    color: #343a40;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #007bff;
}

.sidebar .nav-link.active {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
}

.sidebar .collapse .nav-link {
    padding-left: 30px;
}

.sidebar .collapse.show .nav-link {
    background-color: rgba(0, 123, 255, 0.2);
    color: #007bff;
}

.content {
    background-color: #ffffff;
    padding: 30px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.sidebar-header {
    display: none !important;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
    }

    .sidebar.active {
        display: block;
        width: 90%;
    }

    .content {
        margin-left: 0;
    }

    .sidebar-header {
        display: block !important;
    }

    .name-app {
        display: none;
    }

    .sidebar-header h4 {
        display: block !important;
    }

    .sidebar-header {
        display: block !important;
    }

    .name-app h5 {
        display: block;
    }
}

/*---------------------------------- !*specification*! --------------------*/

.card {
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}

.card-subtitle {
    font-size: 0.875rem;
    color: #6c757d;
}

.btn {
    border-radius: 10px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.page-link:hover {
    color: #007bff; /* Màu chữ khi hover */
    text-decoration: none; /* Loại bỏ gạch chân */
    background-color: #f8f9fa; /* Màu nền khi hover */
    border-color: #dee2e6; /* Màu viền khi hover */
}

.page-link:focus {
    box-shadow: none; /* Loại bỏ shadow khi focus */
}
